<!--CSS-->
<!--CSS-->

<!--HTML EXTENSION OPEN BUTTON-->
<a id="a-change-processor" style="color: red;width:3.2vw;height:3.2vw;font-size:1.5rem;" title="Выбор процессора"><i class="fa-solid fa-microchip"></i></a>
<a id="a-speech-train" style="color: black;width:3.2vw;height:3.2vw;font-size:1.5rem;" title="Панель тренировки голоса"><i class="fa-solid fa-brain"></i></a>
<a id="a-console-log" style="color: black;width:3.2vw;height:3.2vw;font-size:1.5rem;" title="Открыть консоль"><i class="fa-brands fa-python"></i></a>
<!--HTML EXTENSION OPEN BUTTON-->

<!--JS-->
<script type="text/javascript" src="/extensions/static/speech_train/static/js/train.js"></script>
<script type="text/javascript" src="/extensions/static/speech_train/static/js/console.js"></script>
<!--JS-->
